Repository discordia-space/CEV-Eris, pull requests merged in 2021-07, with the labels that each got.

#6367 Fix power issue with guild lobby APC
  maps/CEVEris/_CEV_Eris.dmm
Labels: Fix, Map

#6368 Add style vendor to Eris map
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map, New features

#6284 a button that lets you set sheets_per_tick on the ore processor
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_unloading.dm
  code/modules/recycling/conveyor2.dm
Labels: New features
