Repository discordia-space/CEV-Eris, pull requests merged in 2021-09, with the labels that each got.

#6481 [MAP] New planetary ruins Part 1
  maps/submaps/planetary_ruins/hut/hut.dm
  maps/submaps/planetary_ruins/hut/hut.dmm
  maps/submaps/planetary_ruins/hut/hut2.dmm
  maps/submaps/planetary_ruins/hut/hut3.dmm
  maps/submaps/planetary_ruins/lodge/lodge.dm
  maps/submaps/planetary_ruins/lodge/lodge2.dmm
  maps/submaps/planetary_ruins/lodge/lodge3.dmm
  maps/submaps/planetary_ruins/monoliths/monoliths.dm
  maps/submaps/planetary_ruins/monoliths/monoliths2.dmm
  maps/submaps/planetary_ruins/monoliths/monoliths3.dmm
  maps/submaps/planetary_ruins/spider_nest/spider_nest.dm
  maps/submaps/planetary_ruins/spider_nest/spider_nest.dmm
  maps/submaps/planetary_ruins/spider_nest/spider_nest2.dmm
  maps/submaps/planetary_ruins/spider_nest/spider_nest3.dmm
Labels: Map, New features

#6473 [MAP] Fix shield bug in research area
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map, Fix

#6431 Scrapyard 2 electric boogaloo
  cev_eris.dme
  code/game/area/asteroid_areas.dm
  code/game/objects/effects/spawners/corpsespawner.dm
  code/game/objects/effects/spawners/ghostroles.dm
  code/modules/shuttles/antagonist.dm
  maps/CEVEris/shuttles-eris.dm
  maps/encounters/scrapyard/scrapyard.dm
  maps/encounters/scrapyard/scrapyard.dmm
Labels: Map, New features

#6520 Add sink in hydroponics and IH
  maps/CEVEris/_CEV_Eris.dmm
Labels: Map

#6451 increases door health
  code/game/machinery/doors/airlock.dm
Labels: Balance

#6465 Add AI controlled maintenance drone
  code/game/objects/items/weapons/AI_modules.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/drone/_drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
Labels: New features

#6523 Avoid search in world for del_event
  code/__HELPERS/global_lists.dm
  code/datums/objective/individual_objective/command.dm
  code/global.dm
  code/modules/long_range_scanner/long_range_scanner.dm
  code/modules/overmap/events/movable.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/ship.dm
  code/modules/shield_generators/shield_generator.dm
  maps/CEVEris/overmap-eris.dm
Labels: Refactoring
